.sectionFullSplit {
    display: grid;
    grid-template-columns: 50vw 50vw;
    max-height: 600px;
    min-height: 600px;
    overflow: hidden;
    article {
        align-self: center;
        box-sizing: border-box;
        padding-left: 25%;
        padding-right: 25%;
        a {
            padding: 10px 30px;
            text-decoration: none;
            font-family: 'OpenSansBold', 'sans-serif';
            text-transform: uppercase;
            font-size: 0.8rem;
            margin-top: 10px;
            display: block;
            width: fit-content;
        }
    }
    aside {
        display: grid;
        justify-items: center;
        align-content: end;
    }
    img {
        width: 60%;
        height: auto;
        margin: 0;
    }
}