.appHeader {
    display: grid;
    grid-template-columns: 200px auto;
    border-bottom: 2px solid #D0D0D0;
    position: fixed;
    background: white;
    width: 100vw;
    margin-top: -70px;
    padding-left: 40px;
    padding-right: 40px;
    box-sizing: border-box;
    z-index: 999;
    .mobileMenuTrigger {
        display: none;
    }
    h1 {
        padding-top: 10px;
    }
    nav {
        padding-top: 1px;
        display: grid;
        grid-auto-columns: 100%;
        justify-items: end;
        align-items: center;
        ul {
            display: grid;
            grid-template-columns: auto auto auto auto;
            width: 400px;
            li {
                text-align: center;
                list-style-type: none;
                display: grid;
                align-content: center;
                a {
                    text-transform: uppercase;
                    text-decoration: none;
                    color: #727374;
                }
                a[aria-current="page"] {
                    color: #5D3E4B;
                    border-bottom: 2px solid #5D3E4B;
                    height: 70px;
                    line-height: 70px;
                    box-sizing: border-box;
                }
            }
        }
    }
    img {
        width: 180px;
    }
}

@media (max-width: 520px) {
    .appHeader {
        .mobileMenuTrigger {
            display: block;
            text-align: right;
            font-size: 50px;
        }
        nav {
            display: none;
            ul {
                display: block;
                grid-template-columns: auto;
                width: 200px;
                position: fixed;
                top: 70px;
                background: rgba(255,255,255,0.9);
                right: 0;
                padding-top: 20px;
                padding-bottom: 20px;
                li {
                    height: 40px;
                    a[aria-current="page"] {
                        border-bottom: none;
                    }
                }
            }
        }
    }
}