.carousel {
    height: 400px;
    padding-top: 50px;
    box-sizing: border-box;
    .slick-dots li.slick-active button:before {
        color: red !important;
    }
}

@media (max-width: 520px) {
    .carousel {
        grid-template-columns: 100%;
        grid-template-rows: max-content;
    }
}