.footer {
    background: #5D3E4B;
    display: grid;
    grid-template-columns: 500px auto;
    padding-left: 7%;
    padding-right: 7%;
    height: 67px;
    align-content: center;
    nav {
        display: grid;
        align-content: center;
    }
    .styledIcon {
        background: #FEFFFF;
        border-radius: 100%;
        width: 25px;
        height: 25px;
        display: grid;
        box-sizing: border-box;
        align-content: center;
        justify-items: center;
        color: #5D3E4B;
        margin-right: -10px;
    }
    ul {
        list-style-type: none;
        li {
            float: left;
            margin-right: 20px;
            padding-top: 20px;
            a {
                color: #727374;
                text-decoration: none;
                text-transform: uppercase;
                font-family: 'OpenSansBold', 'sans-serif';
                font-size: 0.7rem;
            }
        }
    }
    .copyright {
        color: #727374;
        text-decoration: none;
        text-transform: uppercase;
        font-family: 'OpenSansBold', 'sans-serif';
        font-size: 0.7rem;
    }
    .callToAction {
        display: grid;
        grid-template-columns: auto 150px;
        align-items: end;
        align-content: center;
        button {
            width: fit-content;
            justify-self: end;
        }
        p {
            margin-bottom: 0;
            height: 32px;
            color: #FEFFFF;
            font-family: 'esonnes-display';
            font-style: italic;
            font-weight: 400;
            text-align: right;
            padding-right: 20px;
            justify-self: end;
            font-size: 1.2rem;
        }
    }
}

@media (max-width: 520px) {
    .footer {
        height: auto;
        display: flex;
        flex-direction: column;
        padding-top: 40px;
        padding-bottom: 40px;
        nav {
            order: 1;
            ul > li {
                text-align: center;
                width: 100%;
                margin-right: 0;
                padding-top: 5px;
                .styledIcon {
                    margin-right: 0;
                    svg {
                        font-size: 18px;
                    }
                }
            }
            ul > li:first-child {
                display: grid;
                width: 50%;
                direction: rtl;
                a {
                    margin-right: 5px;
                }
            }
            ul > li:nth-child(2) {
                float: none;
                margin-bottom: 10px;
                a {
                    left: 5px;
                    position: relative;
                }
            }
        }
        .callToAction {
            grid-template-columns: 100%; 
            p {
                text-align: center;
                padding-bottom: 20px;
                padding-right: 0;
                font-size: 23px;
            }
            button {
                background-color: #FEFFFF;
                justify-self: center;
                width: 220px;
                margin-bottom: 30px;
                margin-top: 30px;
            }
        }
    }
}